body{
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
	background: #0f0f0f;
	position: relative;
	font-family: sans-serif;
}

/* Fondo difuso animado */
body::before{
	content: "";
	position: fixed;
	inset: 0;

	background:
		radial-gradient(circle at top left, #ff0000, transparent 35%),
		radial-gradient(circle at bottom right, #ff8800, transparent 35%),
		radial-gradient(circle at center, #ffcc00, transparent 40%);

	filter: blur(90px);

	animation: moverFondo 10s ease infinite;

	z-index: -1;
}

/* Animación */
@keyframes moverFondo{
	0%{
		transform: scale(1) rotate(0deg);
	}

	50%{
		transform: scale(1.2) rotate(10deg);
	}

	100%{
		transform: scale(1) rotate(0deg);
	}
}

/* Secciones */
#banner{

	width: 90%;

	margin: 40px auto;

	padding: 40px;

	border-radius: 25px;

	background: rgba(0,0,0,0.45);

	backdrop-filter: blur(20px);

	-webkit-backdrop-filter: blur(20px);

	border: 1px solid rgba(255,255,255,0.1);

	box-shadow:
	0 8px 32px rgba(0,0,0,0.4),
	0 0 20px rgba(255,255,255,0.05);

}
#trunk{

	width: 90%;

	margin: 40px auto;

	padding: 40px;

	border-radius: 25px;

	background: rgba(0,0,0,0.45);

	backdrop-filter: blur(20px);

	-webkit-backdrop-filter: blur(20px);

	border: 1px solid rgba(255,255,255,0.1);

	box-shadow:
	0 8px 32px rgba(0,0,0,0.4),
	0 0 20px rgba(255,255,255,0.05);

	transition: all 0.4s ease;
}
.collapsing{

	transition: height 0.4s ease;
}
#trunk:hover{

	box-shadow:
	0 8px 40px rgba(0,0,0,0.5),
	0 0 35px rgba(255,120,0,0.2);
}
#foot{

	width: 90%;

	margin: 40px auto;

	padding: 40px;

	border-radius: 25px;

	background: rgba(0,0,0,0.45);

	backdrop-filter: blur(20px);

	-webkit-backdrop-filter: blur(20px);

	border: 1px solid rgba(255,255,255,0.1);

	box-shadow:
	0 8px 32px rgba(0,0,0,0.4),
	0 0 20px rgba(255,255,255,0.05);

}

/* Texto */
.bn{
	color: white;
	font-size: 20px;
}

/* Imágenes del carrusel */
.imageCarr{
	width: 100%;
	max-width: 1100px;
	height: 500px;

	object-fit: cover;

	border-radius: 20px;

	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

/* Responsive */
@media(max-width:1200px){

	.imageCarr{
		width: 90%;
		height: auto;
	}

}
.icono{
	height:70px;
	width: 70px;
	margin-right: 10px;
}
.btn btn-outline-success{
	height: 50px;
	width: 50px;
}
@media(max-width:768px){

	#banner,
	#trunk,
	#foot{
		width: 95%;
		padding: 20px;
	}

	.imageCarr{
		height: 250px;
	}

	.icono{
		width: 50px;
		height: 50px;
	}

	.btn{
		font-size: 14px;
	}

	.btn-outline-warning{
		width: 100%;
		font-size: 14px;
		white-space: normal;
	}
}